<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
<h3> Create New Listing</h3>

    <form method="POST" action="/listings" class= "needs-validation" novalidate enctype="multipart/form-data">
       
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" required>
        <div class="valid-feedback"> Looks great!</div>
        <div class="invalid-feedback"> please enter valid title </div>
        </div>

        <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required></textarea>
        <div class="invalid-feedback"> please enter valid description </div>
    </div>
    
    <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input name="listing[image]" placeholder="Enter URL/Link" type="file" class="form-control"  required>
       
    </div>

    <div class="row">
        
    <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" required>
        <div class="invalid-feedback"> please enter valid price </div>
    </div>
       <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required>
            <div class="invalid-feedback"> please enter valid country name </div>
        </div>
    </div>

       
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required>
            <div class="invalid-feedback"> please enter valid location </div>
        </div>
        
        <button class="btn btn-dark add-btn"> Add</button>
        <br> <br>
        </form>
    </div>
</div>
</body>
